@import '../../../variables';

.input {
  outline: none;
  padding: 16px;
  font-size: 14px;

  border-radius: $borderRadius;
  border: 1px solid $disabledBorderColor;
}

.input:focus {
  border: 2px solid $focusBorderColor;
}