@import './variables';
* {
  margin: 0;
  padding: 0;
}


html, body {
  min-height: 100vh;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  color: rgb(51, 51, 51)
}

#base-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  background-color: bisque;
  align-items: center;
}

#main-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: row;
  height: 48px;
  background-color: gainsboro;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 16px;
}

#footer strong {
  font-size: 0.5em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $greyFont;
  opacity: 0.1;
  border-radius: 5px;
}