$defaultFont: rgb(51, 51, 51);
$greyFont: #707579;

$borderRadius: 10px;

$disabledBorderColor: #7075795A;
$hoveredBorderColor: #000000;
$focusBorderColor: #4EA4F6;

$boxShadowColor: #707579AA;

$transparentGrey: rgba(112, 117, 121, 0.09);

$defaultButtonColor: #f4f4f4;
$primaryButtonColor: #4EA4F6;
$defaultHoveredColor: rgba(112, 119, 123, 0.08);
$primaryHoveredColor: rgba(0, 0, 0, 0.08);

$errorColor: #d50103;