$defaultFont: rgb(51, 51, 51);
$greyFont: #707579;

$borderRadius: 10px;

$disabledBorderColor: #7075795A;
$hoveredBorderColor: #000000;
$focusBorderColor: #4EA4F6;

$boxShadowColor: #707579AA;

$transparentGrey: rgba(112, 117, 121, 0.09);
